body {
    background-color: white;
    color: black;
    margin: 0 auto;
    max-width: 1800px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 0 15px;
    background-color: white;
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay at the top initially */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding */
    /* Add padding/height specific to your design */
    height: 80px;
    border-bottom: 2px solid red;
}

header>div {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 800;
}

#logo {
    width: 195px;
}

#nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#nav>a {
    color: black;
    text-decoration: none;
    padding: 10px;
    font-size: 14px;
}

#nav>a:hover {
    color: rgb(126, 126, 126);
    font-weight: bold;
}

#donateBtn {
    background-color: red !important;
    border-radius: 15px;
    line-height: 9px;
    height: 30px;
    margin-left: 9px !important;
    padding: 10px 20px !important;
    color: white !important;
    font-weight: 700;
}

#donateBtn:hover {
    background-color: rgb(126, 126, 126) !important;
    color: black !important;
}

#mobileDonateBtn {
    font-weight: bold !important;
    background-color: red !important;
    max-width: 200px;
    margin: auto;
    border-radius: 25px !important;
    color: white !important;
}

#navToggle, #mobileNav { 
    display: none;
    color: black;
}

section>h2 {
    margin-bottom: 50px;
}

#consultModal {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
    padding: 5% 0;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    overflow: scroll;
}

#consultClose {
    text-decoration: none;
    max-width: 110px;
    z-index: 1;
}

#consultModal>a {
    text-decoration: none;
    padding: 10px;
    font-size: 1rem;
    margin: 3px;
    color: black;
}

#consultModal>a:hover {
    color: rgb(126, 126, 126);
    font-weight: bold;
}

#hero {
    margin-top: 80px;
}

#heroContent {
    width: 100%;
    background: linear-gradient(90deg,black, black, black, rgba(0,0,0,.9), rgba(0,0,0,.7), rgba(0,0,0,.5), rgba(0,0,0,.3)), url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Downtown_Container_Park_-_Downtown_-_Las_Vegas%2C_NV_%2812427672184%29.jpg/1280px-Downtown_Container_Park_-_Downtown_-_Las_Vegas%2C_NV_%2812427672184%29.jpg) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.heroLeft {
    width: 50%;
}

#heroTitle {
    font-family: Vina Sans, sans-serif;
    font-size: 10rem;
    line-height: 140px;
    max-width: 396px;
}
#heroSubtitle {
    color: red;
    font-size: 1.6rem;
    font-weight: 700;
    max-width: 400px;
    letter-spacing: 2px;
}
#heroText {
    max-width: 390px;
    font-size: 1.3rem;
}
.heroBtn {
    width: 160px;
    padding: 10px 2px;
    text-decoration: none;
    background-color: white;
    margin: 4px 15px;
    border-radius: 20px;
    text-align: center;
    color: black;
}

#whatwedoLeft {
    background-color: red;
    font-size: 8rem;
    color: white;
    font-weight: 500;
    font-family: 'Vina Sans';
    line-height: 0.8;
    padding: 120px 80px;
    width: 50%;
} 
#whatwedoRight {
    width: 50%;
    padding: 80px;
    padding: 120px 80px;
}
#tilesLeft, #tilesRight {
    width: 50%;
    max-height: 300px;
}
.imgTile {
    width: calc(100vw/3);
    height: 10rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#howitworks>div {
    width: 50%;
    background-color: black;
    color: white;
    padding: 100px;
}
.howitworksTitle {
    font-family: Vina Sans, sans-serif;
    font-size: 8rem;
    line-height: 80px;
}
#homeVidThumb {
    width: 34rem;
    height: 18rem;
    background-position: center;
}

.phaseTitle {
    font-family:  Vina Sans, sans-serif;
    font-size: 4rem;
    line-height: 60px;
    color: red;
}
.phaseSubTitle {
    font-family: Vina Sans, sans-serif;
    font-size: 2rem;
}
.phaseDetails {
    max-width: 300px;
}
#impactLeft, #impactRight {
    width: 50%;
    padding: 3rem;
    font-size: 1.3rem;
}
.impactTitle {
    font-family: Vina Sans, sans-serif;
    font-size: 8rem;
    line-height: 80px;
}
#impactLeft {
    background-color: red;
    border-right: 3px solid black;
}
#impactLeftText {
    color: white;
}
#impactRight {
    border-left: 3px solid black;
}
#impactRight .impactTitle {
    color: red;
}


.fadeIn {
    animation: fadeIn 3s 5s forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
 
@media screen and (max-width: 768px)  {
    #nav { 
        display: none;
    }
    #navToggle { 
        display: inline;
        padding: 10px;
        border-radius: 3px;
        margin: 3px;
    }
    #navToggle:hover { 
        background-color: rgb(126, 126, 126);
    }
    #mobileNav {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: white;
        color: black;
        animation: fadeInAnimation .5s;
        z-index: 2;
    }
    #mobileNav>a {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: black;
        text-decoration: none;
        padding: 15px;
        border-radius: 3px;
    }
    #mobileNav>a:hover {
        background-color: rgb(126, 126, 126);
    }
    #heroContent {
        background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Downtown_Container_Park_-_Downtown_-_Las_Vegas%2C_NV_%2812427672184%29.jpg/1280px-Downtown_Container_Park_-_Downtown_-_Las_Vegas%2C_NV_%2812427672184%29.jpg) no-repeat;
    }
    .heroLeft {
        width: 100%;
    }
    #heroTitle {
        font-size: 7rem;
    }
    #heroSubtitle {
        font-size: 1.1rem;
    }
    #heroText {
        max-width: 300px;
    }
    #whatwedoLeft {
        width: 100%;
        padding: 40px;
    }
    #whatwedoRight {
        width: 100%;
        padding: 40px;
    }
    #tilesLeft, #tilesRight {
        width: 100%;
    }
    .imgTile {
        height: 6rem;
    }
    #howitworks>div {
        width: 100%;
        padding: 48px;
    }
    .howitworksTitle {
        font-size: 4.6rem;
    }
    #homeVidThumb {
        width: 18rem;
        height: 11rem;
        background-position: center;
        background-size: cover;
    }
    #impactLeft, #impactRight {
        width: 100%;
    }
    #impactLeft {
        border-right: unset;
        border-bottom: 3px solid black;
    }
    #impactRight {
        border-left: unset;
        border-top: 3px solid black;
    }
    .impactTitle {
        font-size: 4.6rem;
    }
} 