body {
    background-color: white;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 0 15px;
}

header>div {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 800;
}

#logo {
    width: 100px;
}

#nav {
    display: flex;
    justify-content: space-evenly;
}

#nav>a {
    color: black;
    text-decoration: none;
    padding: 10px;
    font-size: 1rem;
    margin: 3px;
}

#nav>a:hover {
    color: rgb(126, 126, 126);
    font-weight: bold;
}

#donateBtn {
    font-weight: bold;
    background-color: rgb(190, 190, 190) !important;
    border-radius: 5%;
    line-height: 9px;
    height: 30px;
    margin-top: 10px !important;
    margin-left: 9px !important;
    padding: 10px !important;
}

#donateBtn:hover {
    background-color: rgb(126, 126, 126) !important;
    color: black !important;
}

#mobileDonateBtn {
    font-weight: bold !important;
}

#navToggle, #mobileNav { 
    display: none;
    color: black;
}

section>h2 {
    margin-bottom: 50px;
    color: red;
}

#consultModal {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
    padding: 5% 0;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    overflow: scroll;
}

#serviceContent {
    margin: 5%;
    max-width: 700px;
}

#consultClose, #serviceClose {
    text-decoration: none;
    max-width: 110px;
    z-index: 1;
}

#consultModal>a, #serviceModal>a {
    text-decoration: none;
    padding: 10px;
    font-size: 1rem;
    margin: 3px;
    color: black;
}

#consultModal>a:hover, #serviceModal>a:hover {
    color: rgb(126, 126, 126);
    font-weight: bold;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#heroImage {
    height: 100vh;
    width: 100%;
    background: url(Assets/manifestLogo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-position-x: -150px; */
}

#heroText {
    text-align: center;
    margin-top: -150px;
    font-family: "Yellowtail", cursive;
    font-size: 3rem;
    color: red;
}

#about {
    font-size: 20px;
    padding: 180px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#about>div>h2 {
    text-align: center;
    margin-bottom: 50px;
}

#mission {
    max-width: 1200px;
}

#solution {
    background-color: rgb(190, 190, 190);
}

#igFeed {
    text-align: center;
    display: none;
}

#staffSection {
    max-width: 1200px;
    margin: 0 auto;
}

#founder {
    border-bottom: 1px solid;
    margin-bottom: 60px;
}

#founderContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#profilePic {
    height: 25vw;
    width: 25vw;
    background: url(Assets/profilePic.jpg) no-repeat center;
    background-size: 100%;
    border-radius: 50%;
}

#profilePic, #profileText {
    padding: 60px;
}

#profileText {
    max-width: 60%;
    font-size: 1.3rem;
}

#staffRow {
    display: flex;
    justify-content: space-between;
}

#staffDetails {
    display: flex;
}

.positionDetail {
    width: 14vw;
}

.positionDetail>h5 {
    font-style: italic;
}

.positionDetail>p {
    color: red;
}

#programs {
    max-width: 1200px;
    margin: 0 auto;
}

#programs>h1 {
    text-align: center;
    font-family: "YellowTail", cursive;
    font-size: 5rem;
}

.programRow {
    margin: 90px;
    padding-bottom: 59px;
    border-bottom: 1px solid;
}
.programRow:nth-last-of-type(1) {
    border-bottom: unset;
}

.programRow>h3 {
    color: red;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    padding: 30px 15px;
}

#socials {
    display: flex;
    justify-content: space-evenly;
    width: 150px;
}

.socialLink {
    background-color: white;
    color: black;
}

.socialLink:hover {
    color: rgb(126, 126, 126);
}

#footerText {
    text-align: center;
    font-size: 1rem;
}

#footerBtn {
    margin-right: 40px;
}

#footerBtn>a {
    font-size: 1rem;
    font-weight: bold;
    color: black !important;
    background-color: rgb(190, 190, 190) !important;
    border-radius: 5%;
    line-height: 9px;
    height: 30px;
    padding: 0 10px !important;
    text-decoration: none;
}

#footerBtn>a:hover {
    background-color: rgb(126, 126, 126) !important;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 800px)  {
    #nav { 
        display: none;
    }
    #navToggle { 
        display: inline;
        padding: 10px;
        border-radius: 3px;
        margin: 3px;
    }
    #navToggle:hover { 
        background-color: rgb(126, 126, 126);
    }
    #mobileNav {
        position: absolute;
        width: 100%;
        background-color: white;
        color: black;
        animation: fadeInAnimation .5s;
        z-index: 2;
    }
    #mobileNav>a {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: black;
        text-decoration: none;
        padding: 15px;
        border-radius: 3px;
    }
    #mobileNav>a:hover {
        background-color: rgb(126, 126, 126);
    }
    #hero {
        height: 40vh;
    }
    #heroImage {
        background: url(Assets/manifestLogo.png) no-repeat;
        background-size: 100%;
        height: 40vh;
    }
    #heroText {
        margin-top: 30px;
        font-size: 1.5rem;
    }
    #about {
        /* flex-direction: column;
        justify-content: unset; */
    }
    #founderContent {
        flex-direction: column;
    }
    #profilePic, #profileText {
        padding: 20px;
    }
    #profileText {
        max-width: unset;
    }
    footer {
        flex-direction: column;
    }
    #socials {
        width: 100%;
        margin-bottom: 40px;
        order: 1;
    }
    #footerBtn {
        order: 3;
        margin-right: unset;
    }
    #footerText {
        order: 3;
        margin-bottom: 40px;
    }
}